* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 250px;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: #333 2px 2px 10px;
    background-color: antiquewhite;
    transition: box-shadow 0.2s ease;
}
.container-produto:hover {
    box-shadow: #333 4px 4px 15px;
}

.informacoes-produto {
    margin: 5px;
    font-size: 18px;
    color: #333;
}

.descricao-produto {
    margin: 10px;
    font-size: 12px;
    color: #666;
}

.descricao-produto button {
    margin: 5px;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}

.descricao-produto button:hover {
    color: #333;
    text-decoration: underline;
}

.descricao-produto button:active {
    color: #999;
}

.container-mensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: #333 2px 2px 10px;
    margin-top: 25px;
    background-color: #f9f9f9;
    transition: box-shadow 0.2s ease;
}

.container-mensagem:hover {
    box-shadow: #333 4px 4px 10px; 
}

.card-mensagem {
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
}

.container-contador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: #333 2px 2px 10px;
    margin-top: 25px;
    background-color: #e0f7fa;
    transition: box-shadow 0.2s ease;
}

.container-contador:hover {
    box-shadow: #333 4px 4px 10px; 
}

.botao-contador button{
    margin: 5px;
}